<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohu.dao.SaleMapper">
    <insert id="insertSale">
        insert into `sale`(`gid`, `num`) values (#{gid}, #{num})
    </insert>

    <!-- 定义sale表列和PO对象属性的对应关系 -->
    <resultMap id="saleMap" type="com.sohu.po.SalePO">
        <id column="id" property="id"/>
        <id column="gid" property="gid"/>
        <id column="num" property="num"/>
    </resultMap>

    <select id="queryAllSales" resultMap="saleMap">
        select * from `sale`
    </select>
</mapper>
